<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Add items to a list</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="Stylesheet" href="style.css" />
  
  </head>
  <body>
    <%- include('navbar') %>
    <div class="container-item">
      <h1>Add items to your list</h1>

      <form action="/add" method="post">
        <input
          id="itemInput"
          name="name"
          type="text"
          placeholder="Type an item..."
          aria-label="Item to add"
        />
        <br />
        <br />
        <textarea name="content"></textarea>
        <br />
        <br />
        <button id="addBtn">Add</button>
      </form>
    </div>
  </body>
</html>
