body {
  margin: 0;
}
nav {
  background-color: rgb(184, 163, 163);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  font-size: 20px;
}
nav ul {
  display: flex;
  gap: 20px;
  text-decoration: none;
  list-style-type: none;
}

nav ul li {
  text-decoration: none;
  background-color: rgb(173, 162, 183);
  color: rgb(48, 13, 13);
  padding: 10px 20px;
}

.container {
  background-color: rgb(190, 177, 160);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.container .btn-div {
  display: flex;
  gap: 20px;
}
.listing{
    background-color: grey;
    padding: 10px 20px;
}
.list-div .title{
    font-size: 20px;
    color: blue;
}
.list-div .content{
    font-size: 14px;
    color: grey;
}

.btn-div a{
    border: 1px solid black;
    padding: 5px 10px;
}
.btn-div .delete{
    background-color: red;
}

.btn-div .update{
    background-color: rgb(44, 193, 96);
}